.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid blue;
}

.flex {
  display: flex;
  align-items: center;
}

/*Header*/ /*ТУТ ПОКА НЕ ПОНЯТНО ЧТО С ЭТИМ ДЕЛАТЬ*/
.header {
  border-bottom: 1px solid #ececec;
}
.header-logo {
  display: block;
  margin-right: 93px;
}
.header-logo-accent {
}

.header-nav {
  justify-content: flex-start;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  /*ВСЕ С ПОМЕТКОЙ LIST нужно сбрасывать Padding и Margin, это дизайн HTML для списков*/
  padding: 0;
  margin: 0;
}
.header-nav-item {
  margin-right: 50px;
}
.header-nav-item:last-child {
  margin-right: 0px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.header-contacts-item {
  margin-right: 50px;
}
.header-contacts-item:last-child {
  margin-right: 0px;
}

.header-contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
}
.footer-logo-accent {
}

.footer-address {
  margin-top: 20px;
}
.footer-address-item_location {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-address-list {
  padding: 0;
  margin: 0;
}
.footer-address-item {
  margin-top: 9px;
}
.footer-address-link {
}

/*Studio*/

.section-hero {
  text-align: center;
}
.section-hero-title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-hero-button {
  margin-top: 30px;
  display: inline-block; /*для кнопок баттон и ссылок-кнопок - обязательно*/
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  border-width: 0px;
  border-style: none;
  text-align: center;
}

.section-specials {
}
.section-specials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.section-specials-item {
  width: 270px;
  min-height: 75px;
  padding-left: 15px;
  padding-right: 15px;
}
.section-specials-item-title {
  margin: 0;
  padding: 0;
}
.section-specials-item-description {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

.section-tasks {
  text-align: center;
}
.section-tasks-title {
  margin: 0;
  padding: 0;
}
.section-tasks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}
.section-tasks-item {
  display: block;
}
.section-tasks-item-img {
}

.section-team {
  text-align: center;
  background: var(--background-team);
}
.section-team-title {
  margin: 0;
  padding: 0;
}
.section-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
}
.section-team-item {
  display: block;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.section-team-item-img {
}
.section-team-name {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}
.section-team-description {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

/*Portfolio*/

.section-filters-portfolio {
}
.section-filters-portfolio-list {
  list-style: none;
  padding-inline-start: 0px;
}

.section-filters {
}
.section-filters-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}
.section-filters-btn-list-item {
}
.section-filters-btn-list-btn {
  display: inline-block; /*для кнопок баттон и ссылок-кнопок - обязательно*/
  border-radius: 4px;
  padding: 6px 22px;
  border-width: 0px;
  border-style: none;
  text-align: center;
}

.section-portfolio {
  text-align: center;
  margin-top: 50px;
}
.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.section-portfolio-item {
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.section-portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.section-portfolio-item-img {
}
.section-portfolio-item-title {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
.section-portfolio-item-description {
  margin-top: 4px;
  margin-bottom: 0;
  padding: 0;
}
